$gray-50: #fafbfc;
// $gray-50: #fbfcfd;
$gray-0: #fcfdfe;

@mixin gradient-bg {
	background: $gray-50;
	// background: -moz-linear-gradient(left, $gray-50 0%, $gray-0 35%, $gray-0 65%, $gray-50 100%);
	// background: -webkit-linear-gradient(left, $gray-50 0%, $gray-0 35%, $gray-0 65%, $gray-50 100%);
	// background: linear-gradient(to right, $gray-50 0%, $gray-0 35%, $gray-0 65%, $gray-50 100%);

	background: -moz-linear-gradient(left, $gray-100 0%, $gray-0 35%, $gray-0 65%, $gray-100 100%);
	background: -webkit-linear-gradient(left, $gray-100 0%, $gray-0 35%, $gray-0 65%, $gray-100 100%);
	background: linear-gradient(to right, $gray-100 0%, $gray-0 35%, $gray-0 65%, $gray-100 100%);
}

@mixin dark-section-bg {
	// background: $teal;
	background: $gray-400;

	background: -moz-linear-gradient(left, $gray-400 0%, $gray-300 35%, $gray-300 65%, $gray-400 100%);
	background: -webkit-linear-gradient(left, $gray-400 0%, $gray-300 35%, $gray-300 65%, $gray-400 100%);
	background: linear-gradient(to right, $gray-400 0%, $gray-300 35%, $gray-300 65%, $gray-400 100%);
}