html {
	/*font-size: 12px;*/
}
body {
	@include gradient-bg;
}

body, p {
	font-size: 1.1rem;
}

.subtitle {
	margin-top: 0;
}

.breadcrumb {
	background: none;
	padding: 0;
}

blockquote {
	&, p {
		font-size: 1.3rem;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
	}
}


section {
	padding: 1.5rem 0;

	&.gradient {
		@include gradient-bg;
	}

	&.section-video {
		padding-bottom: 0;
	}

	&.section-index-conditions, &.section-dark {
		@include dark-section-bg;
		padding-bottom: 0.5rem;

		.card {
			min-width: 18rem;
			margin-bottom: 1rem;
		}
	}
}

.card {
    margin-bottom: 0.75rem;
    vertical-align: middle;

	&.card-book {
		background: none;
		border: none;

		img.card-img-top {
			box-shadow: 0 2px 5px rgba(0,0,0,0.4);
		}
	}

	&.card-hero {
		box-shadow: 0 3px 4px rgba(0,0,0,0.6);
	}

	.card-title {
		text-align: center;
		vertical-align: middle;
	}

	.card-body {
		box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	}
}

article.main, p, ul, li, blockquote {
	max-width: 800px;
}

a {
	color: $teal;
	&:hover {
		color: black;
	}

	&.card {
		p {
			color: black;
		}
		&:hover {
			background: $teal;
			color: white;
			text-decoration: none;
			p {
				color: white;
			}
		}
	}
}

table {
	thead {
		th {
			border-bottom: 2px solid $gray-500;
		}
	}

	tr:nth-child(2n) {
		td, th {
			background: $gray-200;
			&:nth-child(2n) {
				background: $gray-300;
			}
		}
	}

	td, th {
		min-width: 100px;
		padding: 2px 3px;
		&:nth-child(2n) {
			background: $gray-100;
		}
	}
}