html {
	/*font-size: 12px;*/
}
body {
	@include gradient-bg;
}

.breadcrumb {
	background: none;
	padding: 0;
}

blockquote {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	&, p {
		font-size: 1.4rem;
	}
}


section {
	padding: 1.5rem 0;

	&.gradient {
		@include gradient-bg;
	}

	&.section-video {
		padding-bottom: 0;
	}

	&.section-index-conditions {
		// background: $teal;
		background: $gray-400;
		padding-bottom: 0.5rem;

		.card {
			min-width: 18rem;
			margin-bottom: 1rem;
		}
	}
}

a {
	color: $teal;
	&:hover {
		color: black;
	}

	&.card {
		&:hover {
			background: $teal;
			color: white;
			text-decoration: none;
		}
	}
}