#header {
	background: $gray-100;
	z-index: 100;
	border-bottom: 1px solid $gray-200;
	// box-shadow: 0 2px 2px rgba(0,0,0,0.2);

	h1 {
		font-size: 1.5rem;
	}
}

.navbar {
	padding: 0;

	&, li, a {
		line-height: 4rem;
		padding-top: 0;
		padding-bottom: 0;
	}

	a {
		font-weight: bold;
		color: $teal;

		&:hover, &:active {
			background: $teal;
			color: white;
		}
	}
}